<IfModule mod_expires.c>
  # CSS
  ExpiresByType text/css                              "access plus 1 year"
  # HTML
  ExpiresByType text/html                             "access plus 0 seconds"

  # Webフォント
  # Embedded OpenType (EOT)
  ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
  ExpiresByType font/eot                              "access plus 1 month"

  # OpenType
  ExpiresByType font/opentype                         "access plus 1 month"

  # TrueType
  ExpiresByType application/x-font-ttf                "access plus 1 month"

  # Web Open Font Format (WOFF) 1.0
  ExpiresByType application/font-woff                 "access plus 1 month"
  ExpiresByType application/x-font-woff               "access plus 1 month"
  ExpiresByType font/woff                             "access plus 1 month"

  # Web Open Font Format (WOFF) 2.0
  ExpiresByType application/font-woff2                "access plus 1 month"

  # Other
  ExpiresByType text/x-cross-domain-policy            "access plus 1 week"

  # index.html省略
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} index\.(html|php)
  RewriteRule ^index\.(html|php)$ / [R=301,L]
  RewriteRule ^(.*)/index\.(html|php)$ /$1/ [R=301,L]
</IfModule>
