@charset "UTF-8";

@font-face {
  font-family: 'rdgothic-icons';
  src: url('fonts/RdGothic-icons.eot');
  src: url('fonts/RdGothic-icons.eot?#iefix')format('embedded-opentype'),
       url('fonts/RdGothic-icons.woff') format('woff'),
       url('fonts/RdGothic-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: 'rdgothic-icons';
  font-weight: normal;
  font-style: normal;
  user-select: none;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-event:before,
.icon-calendar:before     { content: "\f100"; }
.icon-column:before,
.icon-paper:before        { content: "\f101"; }
.icon-interview:before,
.icon-news:before,
.icon-chat:before         { content: "\f102"; }
.icon-time:before         { content: "\f103"; }
.icon-category:before,
.icon-folder:before       { content: "\f104"; }
.icon-topArrow:before     { content: "\f105"; }
.icon-rightArrow:before   { content: "\f106"; }
.icon-bottomArrow:before  { content: "\f107"; }
.icon-leftArrow:before    { content: "\f108"; }
.icon-mail:before         { content: "\f109"; }
.icon-gps:before          { content: "\f10A"; }
.icon-home:before         { content: "\f10B"; }
.icon-recruit:before,
.icon-user:before         { content: "\f10C"; }
.icon-search:before       { content: "\f10D"; }
.icon-tag:before          { content: "\f10E"; }
.icon-media:before,
.icon-browser:before      { content: "\f10F"; }
.icon-registration:before,
.icon-detail:before       { content: "\f110"; }
.icon-copy:before         { content: "\f111"; }
.icon-edit:before         { content: "\f112"; }
.icon-delete:before       { content: "\f113"; }
.icon-login:before        { content: "\f114"; }
.icon-logout:before       { content: "\f115"; }
.icon-plus:before         { content: "\f116"; }
.icon-close:before        { content: "\f117"; }
.icon-download:before     { content: "\f118"; }
.icon-money:before        { content: "\f119"; }
.icon-caution:before      { content: "\f11A"; }
.icon-jobs:before,
.icon-business:before     { content: "\f11B"; }
.icon-setting:before      { content: "\f11C"; }
.icon-notification:before { content: "\f11D"; }
.icon-attachment:before   { content: "\f11E"; }
.icon-love:before         { content: "\f11F"; }
.icon-flag:before         { content: "\f120"; }
.icon-bookmark:before     { content: "\f121"; }
